.wf-button {
  --back-ground-color: var(--primary-color);
  --button-border-color: var(--primary-color);
  --text-color: var(--white-color);
  --text-size: var(--medium-text-size)
  --button-radius: var(--radius-base)
}



.wf-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: var(--back-ground-color);
  border: 1px solid var(--button-border-color);
  color: var(--text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: var(--text-size);
  border-radius: var(--button-radius);
  user-select: none;
}

@each $val in primary, success, warning, info, danger {
  .button--$val {
    --back-ground-color: var(--#{$val}-color);
    --button-border-color: var(--#{$val}-color);
  }
}
.button--primary {
  --back-ground-color: var(--primary-color);
  --button-border-color: var(--border-color);
}

.button--info {
  --back-ground-color: var(--info-color);
  --button-border-color: var(--info-color);
}

.button--danger {
  --back-ground-color: var(--danger-color);
  --button-border-color: var(--danger-color);
}

.button--success {
  --back-ground-color: var(--success-color);
  --button-border-color: var(--success-color);
}

.button--warning {
  --back-ground-color: var(--warning-color);
  --button-border-color: var(--warning-color);
}

.button--large {
  --text-size: var(--large-text-size)
}

.button--medium {
  --text-size: var(--medium-text-size)
}

.button--small {
  --text-size: var(--small-text-size)
}

.is-round {
  --button-radius: var(--radius-20)
}