:root {
  --primary-color: #409eff;
  --success-color: #67c23a;
  --info-color: #909399;
  --warning-color: #e6a23c;
  --danger-color: #f56c6c;

  --white-color: #fff;

  // text
  --large-text-size: 18px;
  --medium-text-size: 16px;
  --small-text-size: 14px;

  // radius
  --radius-base: 4px;
  --radius-20: 20px;
}